{% extends "base.html" %}
{% block title %}Blog | Logged out{% endblock %}

{% block content %}
    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <a href="{% url 'search' %}" class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
            </a>
          </div>
          <div class="typo">
            <h1 class="title">The Super Blog!</h1>
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
          </div>
          <div class="newslatter">
            <input type="text" placeholder="Your email" />
            <button class="btn btn-primary">Subscribe</button>
          </div>
        </center>
      </div>
    </main>
    {% if featured_blog %}
    <section class="sp">
      <div class="container">
        <a href="{% url 'post_page' featured_blog.slug %}">
        <div class="grid-2">
          <div class="post-img">
            <img src="{{featured_blog.image.url}}" alt="" />
          </div>
          <div class="post-content">
            <div class="cetagory">
              <p>Category name</p>
            </div>
            <h1>
              {{featured_blog.title}}
            </h1>
            <p class="des">
              {{featured_blog.content|truncatechars:200}}
            </p>
            <a class="learn" href="#"
              >Learn more <span class="material-icons"> trending_flat </span></a
            >
          </div>
        </div>
      </a>
      </div>
    </section>
    {% endif %}

    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">
          {% for blog in top_blogs %}
          <!-- card -->
          <a href="{% url 'post_page' blog.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{blog.image.url}}" alt="" />
                <div class="tag">{{blog.tags.all.0.name}}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{blog.title}}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{blog.author.profile.profile_image.url}}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{blog.author.first_name}}</p>
                    <small>{{blog.last_updated|date}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}
        </div>
        <center>
          <button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button>
        </center>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New blogs</h1>
        <div class="grid-3">

          {% for blog in recent_blogs %}
          <!-- card -->
          <a href="{% url 'post_page' blog.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{blog.image.url}}" alt="" />
                <div class="tag">{{blog.tags.all.0.name}}</div>
              </div>
              <div class="card-content">
                <h3>
                  {{blog.title}}
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{blog.author.profile.profile_image.url}}" alt="" />
                  </div>
                  <div class="details">
                    <p>{{blog.author.first_name}}</p>
                    <small>{{blog.last_updated|date}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          {% endfor %}

        </div>
        <center>
          <button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button>
        </center>
      </div>
    </section>
    {% endblock %}